body{
    background-color: black;
}
h1{
    margin-top: 0;
    text-align: center;
    color: white;
    
}

ul{
    margin-left: 400px;
    
}
a{
    padding-right: 150px;
}

.nav{
    background-color: white;
}
.heading{
    margin-top: 0;
    
}
.images{
    height: 400px;
}

